.display-none {
    display: none !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.opacity-0 {
    opacity: 0;
}

.correct-answer {
    filter: drop-shadow(0px 0px 20px green);
}

.wrong-answer {
    opacity: 0.6;
}