<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rang lista - BrainSqueeZe</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/leaderboard.js"></script>
</head>

<body>
    <div class="leaderboard">
        <img src="/img/logo-2-highscore.png" alt="" class="leaderboard__logo">
        <a class="button-back" href="/">
            <img src="/img/previous.png" alt="">
        </a>
        <!--Leaderboard contestants are displayed dynamically here-->
    </div>
</body>

</html>